#sblp-white {
    background: #fff;
    opacity: 0.7;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5001;
    display: none;
}

#sblp-popup {
    background: #fff;
    padding: 10px;
    position: fixed;
    left: 14%;
    top: 10%;
    width: 70%;
    height: 70%;
    z-index: 5002;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, .5);
    display: none;
}

#sblp-popup a.sblp-close {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: -15px;
    right: -15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    border-radius: 15px;
}

span.sblp-buttons {
    margin-left: 10px;
}

