.sblp_autocomplete_results {
  padding: 0px;
  border: 1px solid #999;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}

.sblp_autocomplete_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Lucida Grande,Leelawadee,Lucida Sans Unicode,sans-serif;
  font-size: 1em;
  color: #343434;
}

.sblp_autocomplete_results li {
  margin: 0px;
  padding: 5px;
  cursor: default;
  display: block;
  line-height: 2.15;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.sblp_autocomplete_loading {
  background: white url('loading.gif') right center no-repeat;
}

.sblp_autocomplete_odd {
  background-color: #f2f2f2;
}

.sblp_autocomplete_over {
  background-color: #5273C0;
  color: white;
}

.sblp_autocomplete_over a {
	color: white;
}

.sblp_autocomplete_list {
  width: 100%;
  padding: 0;
  margin: .5em 0;
  list-style: none;
}

.sblp_autocomplete_list li {
  margin-top: -1px;
  padding: .5em;
  border: 1px solid #ddd;
}

.sblp_autocomplete_list li a.deselect {
  margin-right: 2em;
}
