.field-selectbox_link_plus .sblp-view-checkboxes select.target {
	display: none;
}

div.sblp-checkboxes {
	max-height: 332px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #ccc;
	margin-top: 5px;
	position: relative;
}

div.sblp-checkboxes h3 {
	padding: 5px;
}

div.sblp-checkboxes h3 em {
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

div.sblp-checkboxes label {
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

div.sblp-checkboxes label input {
	float: left;
}

div.sblp-checkboxes span.text {
	display: block;
	margin-left: 20px;
}

div.sblp-checkboxes label .sblp-checkboxes-actions {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	background: #fff;
	padding: 5px;
}

div.sblp-checkboxes label:hover .sblp-checkboxes-actions {
	display: inline;
}
